@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Domine');

body {
    background-image: url(../img/footer_lodyas.png);
    font-family: 'Domine', cursive;
    font-weight: 300;
    font-size: 16px;
    color: #555
        
        -webkit-font-smoothing: antialiased;
    
   
    margin-top: 70px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Domine', cursive;
    font-weight: 300;
    color: rgba(142, 30, 42, 1);
}

p {
    text-align: center;
    line-height: 30px;
    margin-bottom: 25px;
}

* {box-sizing: border-box}


.centered {
    text-align: center;
}

a {
    color: darkslateblue;
}

a:hover, a:focus {
    color: blueviolet;
    text-decoration: none;
    outline: 0;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.navbar {
    font-weight: 700;
    font-size: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.navbar-inverse {
    background: rgba(129, 111, 111, 0.9);
    border-color: rgba(0, 0, 0, 0.1);
    box-shadow: #fff
}

.navbar-inverse .navbar-nav > .active > a {
    background-color: rgba(149, 43, 55, 0.9);
}

.navbar-inverse .navbar-brand {
    color: aliceblue;
    font-weight: bolder;
    font-size: 26px;
    letter-spacing: 2px;
}
.navbar-inverse .navbar-brand:hover {
    color: rgb(73, 64, 65);
    font-weight: bolder;
}

#headerwrap {
    background-image: url(../img/orchid2.png);
    margin-top: 90px;
    padding-top: 30px;
    text-align: center;
    background-attachment: relative;
    background-position: center center;
    min-height: 800px;
    width: 100%;
    
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#headerwrap2 {
    background-image: url(../img/Norchid.png);
    margin-top: 90px;
    padding-top: 30px;
    text-align: center;
    background-attachment: relative;
    background-position: center center;
    min-height: 800px;
    width: 100%;
    
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#headerwrap h1 {
    background-color: rgba(73, 64, 65, 0.5);
    margin-top: 60px;
    color: rgba(142, 30, 42, 1);
    font-size: 40px;
    font-weight: 300px;
    letter-spacing: 3px;
}

#headerwrap2 h1 {
    background-color: rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    text-align: right;
    color: rgba(142, 30, 42, 1);
    font-size: 40px;
    font-weight: 300px;
    letter-spacing: 3px;
}

#headerwrap2 p {
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.3);
    margin-top: 0px;
    font-size: 18px;
    font-weight: 100px;
    letter-spacing: 3px;
}

#headerwrap2 li {
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.3);
    margin-top: 0px;
    font-size: 18px;
    font-weight: 100px;
    letter-spacing: 3px;
}

#headerwrap4 h1 {
    margin-top:40px;
    color: rgba(142, 30, 42, 1);
    font-size: 40px;
    font-weight: 300px;
    letter-spacing: 3px;
}

.pic {
    margin-top: 0;
}

.buttons {
    margin-top: 380px;
}

.tilt {
   
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    transition: all 1s ease-out;
}

.tilt:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transition: scale(1.1);
}

#contactform {
    background-color: rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    text-align: right;
    color: rgba(142, 30, 42, 1);
    font-size: 20px;
    font-weight: 300px;
    letter-spacing: 3px
    
}

.container.gallery-container {
    margin-top: 170px;
    background-color: rgba(250, 235, 215, 0.5);
    color: black;
    min-height: 60vh;
    padding: 20px 20px;
}

.gallery-container h1 {
    text-align: center;
    margin-top: 50px;
    font-family: '', sans-serif;
    font-weight: bold;
}

.gallery-container p.page-description {
    text-align: center;
    margin: 25px auto;
    font-size: 18px;
    color: #2d2d2d;
}

.tz-gallery {
    padding: 40px;
}

.tz-gallery .row > div {
    padding: 2px;
}

.tz-gallery .lightbox img {
    width: 100%;
    border-radius: 0;
    position: relative;
}

.tz-gallery .lightbox:before {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -13px;
    margin-left: -13px;
    opacity: 0;
    color: #fff;
    font-size: 26px;
    font-family: 'Glyphicons Halflings';
    content: '\e003';
    pointer-events: none;
    z-index: 9000;
    transition: 0.4s;
}


.tz-gallery .lightbox:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(233, 150, 122, 0.4);
    content: '';
    transition: 0.4s;
}

.tz-gallery .lightbox:hover:after,
.tz-gallery .lightbox:hover:before {
    opacity: 1;
}

.baguetteBox-button {
    background-color: transparent !important;
}

.post-title {
    position: absolute;
    top: 90px;
    left: 0;
    color: rgba(142, 30, 42, 1);
    font-size: 16px;
    font-weight: bold;
    display: block;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    line-height: 38px;
    text-indent: 11px;
    text-shadow: 1px 1px 0 rgba(142, 30, 42, 0.7);
}

#foot {
    background: rgba(0, 0, 0, 0.5);
    margin-top: 80px;
    padding-top: 20px;
    padding-bottom: 10px;
}

#foot i {
    color: #bdbdbd;
    font-size: 30px;
    padding: 20px;
}

#foot i:hover {
    color: rgba(142, 30, 42, 1);
}

#foot p{
   color: #bdbdbd;
    font-size: 18px; 
}

@media(max-width: 320px) {
    body {
        padding: 0;
    }
}